@use '../variables' as *;

@mixin icon-svg {
    display: inline-block;
    flex-shrink: 0;

    @include color-theme('fill', $color-text-muted);

    & {
        width: 100%;
        height: 100%;
    }

    @media print {
        fill: inherit;
    }
}
