html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

a {
  user-select: none;
  color: #FFF;
  text-decoration: none;
}

.particles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.footer {
  line-height: 50px;
  padding: 0 50px;
  overflow: hidden;
  font-size: 30px;
  letter-spacing: 10px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer a {
  transition: color 0.25s;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.content {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.projects {
  margin: auto;
  text-align: center;
  font-size: 0;
}

.projects a {
  position: relative;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 5px;
  box-shadow: 0 0 0 1px #FFF;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
}

.projects a:hover {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 600px) {
  .projects a {
    display: block;
    box-shadow: none;
    text-decoration: underline;
  }
  .header, .footer {
    padding: 0;
  }
  .footer {
    text-align: center;
  }
}