html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

a {
  user-select: none;
  color: #FFF;
  text-decoration: none;
  white-space: nowrap;
}

.particles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

input[type="checkbox"] {
  display: none;
}

header,
footer {
  line-height: 50px;
  padding: 0 50px;
  overflow: hidden;
  font-size: 30px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  text-align: right;
}

footer a {
  padding: 0 10px;
  transition: color 0.25s;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75);
}

main {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,1) 100%);
}

main .projects {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  font-size: 0;
  overflow-y: auto;
  height: calc(40vh - 100px);
  margin: 50px auto;
  padding: 30vh 0;
  position: relative;
}

main .projects::-webkit-scrollbar {
  display: none;
}

.button,
main .projects a {
  position: relative;
  display: inline-block;
  flex: 1;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 5px;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
  background: transparent;
  mix-blend-mode: darken;
}

main .projects a.mask {
  opacity: 0.5;
}

.button,
main .projects a:hover {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 600px) {
  main .projects {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
  }
  main .projects a {
    box-shadow: none;
  }
  main .projects a:hover {
    background-color: inherit;
    color: inherit;
  }
  header, footer {
    padding: 0;
    text-align: center;
  }
}