html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

a {
  user-select: none;
  color: #FFF;
  text-decoration: none;
  white-space: nowrap;
}

.particles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.footer {
  line-height: 50px;
  padding: 0 50px;
  overflow: hidden;
  font-size: 30px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer a {
  padding: 0 10px;
  transition: color 0.25s;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.content {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  font-size: 0;
}

.projects::-webkit-scrollbar {
  width: 10px;
}

.projects::-webkit-scrollbar-track {
  background-color: transparent;
}

.projects::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 1s;
  border-radius: 5px;
}

.projects::-webkit-scrollbar-thumb:hover {
  background-color: #FFF;
}

.projects a {
  position: relative;
  display: inline-block;
  flex: 1;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 5px;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
}

.projects a.repo {
  color: rgba(255, 255, 255, 0.5);
}

.projects a:hover {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 600px) {
  .projects {
    flex-wrap: nowrap;
    overflow-y: auto;
    flex-direction: column;
  }
  .projects a {
    display: block;
    box-shadow: none;
  }
  .header, .footer {
    padding: 0;
  }
  .footer {
    text-align: center;
  }
}