@media screen and (max-width: 480px) {
    .header .header-wrapper {
        gap: calc(var(--unit) / 2);
        padding: calc(var(--unit) / 2) var(--unit);
    }

    .header .header-wrapper .header-links a {
        width: 25px;
        height: 25px;
    }

    .repo {
        padding: calc(var(--unit) / 2) var(--unit);
    }

    .repo:hover {
        background-color: inherit;
    }
}