$text-sm: 0.75rem !default;
$text-default: var(--default-font-size) !default;
$text-lg: 1.5rem !default;

$h1: 4rem !default;
$h2: 3rem !default;
$h3: 2.5rem !default;
$h4: 1.5rem !default;
$h5: 1rem !default;
$h6: 0.75rem !default;
