@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.otf");
}

:root {
  --vh: 1vh;

  --color-background: #000;
  --color-font: #FFF;

  --font-size-title: 40px;
  --font-size-description: 15px;

  --font-weight-light: 300;
  --font-weight-medium: 500;

  --width-arrow-block: 80px;
  --height-arrow-block: 100vh;
}