@media screen and (max-width: 480px) {
  :root {
    --font-size-title: 30px;

    --width-arrow-block: 40px;
    --height-arrow-block: calc(4 * var(--width-arrow-block));
  }

  .arrow {
    top: calc(50% - 2 * var(--width-arrow-block));
  }

  .slide .description {
    max-width: 100%;
  }

  .button:before {
    height: 2px;
  }
}