.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    transition: opacity 1s, visibility 1s;
    z-index: 999;
}

.preloader:before,
.preloader:after {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
}

.preloader:before {
    background: url("../assets/preloader_outer.svg") center center no-repeat;
    background-size: cover;
    animation: rotating-left infinite 1.5s;
}

.preloader:after {
    background: url("../assets/preloader_inner.svg") center center no-repeat;
    background-size: cover;
    animation: rotating-right infinite 1.5s;
}