* {
    color: var(--color-font);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--color-background);
    overflow: hidden;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.layer.pointer {
    z-index: 1;
}

.layer.table {
    z-index: 0;
}

.layer .table {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layer .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: var(--circle-color);
    border-radius: 50%;
    font-size: var(--font-size);
    color: #000;
    transform: translate(-50%, -50%);
}

.layer .circle.pointer {
    left: 50%;
    top: 50%;
    width: var(--circle-pointer-size);
    height: var(--circle-pointer-size);
    background-color: transparent;
    border: var(--border-width) solid var(--circle-color);
}