* {
    color: var(--color-font);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

/* tags */

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--color-background);
    overflow: hidden;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.layer .table {
    background-color: red;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vh, 1vh) * 30);
    height: calc(var(--vh, 1vh) * 30);
}

.circle {
    position: absolute;
    width: calc(var(--vh, 1vh) * 10);
    height: calc(var(--vh, 1vh) * 10);
    border-radius: 50%;
    background-color: #FFF;
    font-size: 10px;
    text-align: center;
    line-height: calc(var(--vh, 1vh) * 10);
    color: #000;
    transform: translate(-50%, -50%);
}