* {
    color: var(--color-font);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

html, body {
    height: 100vh;
}

/* tags */

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--color-background);
    position: relative;
}

main {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

.triangles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}