:root {
    --vh: 1vh;

    --color-background: #000;
    --color-font: #FFF;

    --font-size-title: 40px;
    --font-size-description: 15px;

    --font-weight-light: 300;
    --font-weight-medium: 500;

    --width-arrow-block: 80px;
}