@use 'spacing';
@use 'sizing';

@mixin box($padding: 1, $margin: 1) {
    @include spacing.padding-y($padding);
    @include spacing.margin-y($margin);

    @content;

    & > * {
        @include spacing.padding-x;
        @include spacing.margin-center(x);
        @include spacing.max-width;
    }
}

@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
