@use 'variables' as *;

aside {
    display: flex;
    align-items: end;
    padding: $spacing-unit-default 0;

    @media print {
        display: none;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: calc($spacing-unit-default / 2);
        position: sticky;
        bottom: $spacing-unit-default;

        button {
            width: 30px;
            height: 30px;

            @media screen and (max-width: $breakpoint-sm) {
                width: 25px;
                height: 25px;
            }
        }
    }
}
