@use 'variables' as *;
@use 'custom';

.contacts {
    @include custom.box(0);

    .contacts-list {
        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        .contact {
            @include spacing-margin-y;

            display: flex;
            align-items: center;
            gap: $spacing-unit;

            @media print {
                @include spacing-margin-y(0.5);
                gap: calc($spacing-unit / 2);
            }

            .contact-icon {
                display: block;
                color: inherit;

                svg {
                    @include color-theme('fill', $color-text-muted);

                    & {
                        width: 30px;
                        height: 30px;
                    }

                    @media print {
                        fill: inherit;
                    }
                }

                @media screen and (max-width: $breakpoint-sm) {
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .contact-link {
                @include custom.truncate;
            }
        }
    }
}
