@use 'variables' as *;
@use 'mixins';

footer {
    @include mixins.padding-x($spacing-unit-default);
    @include mixins.padding-y($spacing-unit-default);

    & {
        position: sticky;
        top: 100%;
        border-top-style: dashed;
        border-top-width: 2px;

        @media print {
            display: none;
        }
    }
}
