@use 'breakpoints';
@use 'spacing';
@use 'custom';

footer {
    @include custom.box;

    & {
        position: sticky;
        top: 100%;
        border-top-style: dashed;
        border-top-width: 2px;

        @media print {
            display: none;
        }
    }
}
