@use 'variables' as *;

header {
    @include spacing-padding-x;
    @include spacing-margin-y;
    @include spacing-margin-center(x);
    @include spacing-max-width;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-unit;

    .header-name {
        margin: 0;
        font-size: max(min(10vw, $typo-h1), 2rem);
    }

    .header-bio {
        margin: 0;
        margin-top: calc($spacing-unit / 4);
        font-size: max(min(4vw, $typo-h4), 1rem);
    }

    .header-links {
        display: flex;
        column-gap: $spacing-unit;
        row-gap: calc($spacing-unit / 2);
        flex-wrap: wrap;
        align-items: center;

        @media print {
            display: none;
        }

        .header-link {
            display: block;
            color: inherit;

            svg {
                @include color-theme('fill', $color-text-muted);

                & {
                    width: 30px;
                    height: 30px;
                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
