.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--unit);
}

.header .header-title {
    margin: 0;
    font-size:  max(min(10vw, 4rem), 2rem);
}

.header .header-subtitle {
    margin: 0;
    font-size: max(min(4vw, 1.5rem), 1rem);
}

.header .header-links {
    display: flex;
    gap: var(--unit);
}

.header .header-links a {
    width: 30px;
    height: 30px;
    opacity: .2;
}

.header .header-links a:hover {
    opacity: .3;
}