@use 'breakpoints';
@use 'spacing';
@use 'colors';
@use 'sizing';

header {
    @include spacing.padding-x;
    @include spacing.margin-y;
    @include spacing.margin-center(x);
    @include spacing.max-width;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: spacing.$unit;

    .header-name {
        margin: 0;
        font-size: max(min(10vw, sizing.$h1), 2rem);
    }

    .header-bio {
        margin: 0;
        margin-top: calc(spacing.$unit / 4);
        font-size: max(min(4vw, sizing.$h4), 1rem);
    }

    .header-links {
        display: flex;
        column-gap: spacing.$unit;
        row-gap: calc(spacing.$unit / 2);
        flex-wrap: wrap;

        @media print {
            display: none;
        }

        .header-link {
            display: block;
            color: inherit;
            font-size: 0;

            svg {
                @include colors.theme('fill', colors.$text-muted);

                & {
                    width: 30px;
                    height: 30px;
                }
            }

            @media screen and (max-width: breakpoints.$sm) {
                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
