@import 'reset.css';
@import 'header.css';
@import 'current.css';
@import 'repo.css';
@import 'media.css';
@import 'mods.css';

.content {
    height: inherit;
    margin: 0 auto;
    overflow: auto;
}