@use 'variables' as *;
@use 'mixins';

main {
    section > h3 {
        @include mixins.hyphenate;

        & {
            text-transform: capitalize;
        }
    }

    .contacts {
        @include mixins.margin-y($spacing-unit-default);

        .contact {
            @include mixins.margin-y($spacing-unit-sm);
            @include mixins.flex(row, $spacing-unit-default);

            & {
                align-items: center;
            }

            .logo {
                .icon {
                    width: 30px;
                    height: 30px;

                    @media screen and (max-width: $breakpoint-sm) {
                        width: 25px;
                        height: 25px;
                    }
                }

                &:has(.icon) {
                    font-size: 0;
                }
            }
        }
    }

    .about {
        @include mixins.margin-y($spacing-unit-default);

        p {
            @include mixins.margin-y($spacing-unit-sm);
        }
    }

    .skills {
        @include mixins.margin-y($spacing-unit-default);

        .skills-group {
            @include mixins.margin-y($spacing-unit-default);

            &.title,
            &.list {
                @include mixins.margin-y($spacing-unit-sm);
            }

            &.title {
                @include mixins.hyphenate;

                & {
                    text-transform: capitalize;
                }
            }

            &.list {
                @include mixins.flex(row, calc($spacing-unit-default / 2));

                & {
                    flex-wrap: wrap;
                    list-style: none;
                }

                & > li {
                    @include mixins.truncate;
                }
            }
        }
    }

    .experiences {
        @include mixins.margin-y($spacing-unit-default);

        .experience {
            @include mixins.margin-y($spacing-unit-default);

            &.company,
            &.date,
            &.achievements,
            &.techstack {
                @include mixins.margin-y($spacing-unit-sm);
            }

            &.company {
                @include mixins.hyphenate;

                & {
                    text-transform: capitalize;
                }
            }

            &.date {
                @include mixins.truncate;
                @include color-theme('color', $color-text-muted);

                & {
                    font-weight: bold;
                }
            }

            &.achievements {
                list-style: none;

                & > li {
                    @include mixins.margin-y($spacing-unit-sm);
                }
            }

            &.techstack {
                @include color-theme('color', $color-text-muted);

                & {
                    display: flex;
                    flex-wrap: wrap;
                    gap: calc($spacing-unit-default / 4) calc($spacing-unit-default / 2);
                    font-size: $typo-h6;
                    font-weight: bold;
                    list-style: none;
                }

                & > li {
                    @include mixins.truncate;
                }
            }
        }
    }

    .projects {
        @include mixins.margin-y($spacing-unit-default);

        .project {
            @include mixins.margin-y($spacing-unit-default);

            @media screen and (max-width: $breakpoint-sm) {
                gap: calc($spacing-unit-default / 4);
            }

            .title,
            .description {
                @include mixins.margin-y($spacing-unit-sm);
            }

            .title {
                @include mixins.flex(row, calc($spacing-unit-default / 4) calc($spacing-unit-default / 2));

                & {
                    flex-wrap: wrap;
                }

                .name {
                    @include mixins.truncate;
                    margin: 0;
                    font-size: inherit;
                }

                .links {
                    white-space: nowrap;

                    @media print {
                        display: none;
                    }
                }

                .markers {
                    @extend .title;

                    margin: 0;

                    @media print {
                        display: none;
                    }

                    .marker {
                        @include color-theme('color', $color-text-muted);

                        & {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
