@media screen and (max-width: 480px) {
    .header {
        gap: calc(var(--unit) / 2);
        padding: calc(var(--unit) / 2) var(--unit);

        .header-links a {
            width: 25px;
            height: 25px;
        }
    }

    .repo {
        padding: calc(var(--unit) / 2) var(--unit);
        gap: calc(var(--unit) / 4);

        .repo-title {
            gap: calc(var(--unit) / 4) calc(var(--unit) / 2);
        }
    }
}
