.print-only {
    display: none;
    @media print {
        display: inherit;
    }
}

.print-page-break {
    @media print {
        break-before: page;
    }
}

.print-avoid-break-inside {
    @media print {
        break-inside: avoid-page;
    }
}
