@use 'colors';
@use 'sizing';
@use 'spacing';

* {
    box-sizing: border-box;
    touch-action: manipulation;
    background-color: transparent;
}

a {
    @include colors.theme('color', colors.$link);

    & {
        text-decoration: none;
        flex-shrink: 0;
    }
}

p {
    margin: 0;
    line-height: calc(sizing.$text * 1.5);
}

ul {
    padding: 0;
    margin: 0;
}

button {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: spacing.$unit 0;
}

h1 {
    font-size: sizing.$h1;
}

h2 {
    font-size: sizing.$h2;
}

h3 {
    font-size: sizing.$h3;
}

h4 {
    font-size: sizing.$h4;
}

h5 {
    font-size: sizing.$h5;
}

h6 {
    font-size: sizing.$h6;
}
