@use 'variables' as *;

* {
    box-sizing: border-box;
    touch-action: manipulation;
    background-color: transparent;
}

a {
    @include color-theme('color', $color-link);

    & {
        text-decoration: none;
    }
}

p {
    margin: 0;
    line-height: calc($typo-text-default * 1.5);
}

ul {
    padding: 0;
    margin: 0;
}

button {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: $spacing-unit-default;
}

h1 {
    font-size: $typo-h1;
}

h2 {
    font-size: $typo-h2;
}

h3 {
    font-size: $typo-h3;
}

h4 {
    font-size: $typo-h4;
}

h5 {
    font-size: $typo-h5;
}

h6 {
    font-size: $typo-h6;
}

.icon {
    svg {
        @include color-theme('fill', $color-text-muted);

        & {
            width: 100%;
            height: 100%;
        }

        &:hover {
            opacity: 0.8;
        }

        @media print {
            fill: inherit;
        }
    }
}
