@use 'variables' as *;
@use 'custom';

.skills {
    @include custom.box(0);

    .skills-section {
        @include spacing-margin-y;

        & > * {
            @include spacing-margin-y(0.5);
        }

        .skills-group {
            @include custom.truncate;
        }

        .skills-list {
            display: flex;
            flex-wrap: wrap;
            gap: calc($spacing-unit / 2);
            list-style: none;
        }
    }
}

.skill {
    @include custom.truncate;
}
